.github
test
# source
lib
index.ts
package-lock.json
.eslintrc.js
tsconfig.json
tsconfig.build.json
.prettierrc
.prettierrc
.commitlintrc.json
*.log
# firebase emulator config
.firebaserc
firebase.json
firestore.indexes.json
firestore.rules
storage.rules